<div class="mb-3 clearfix">
    <div class="pull-let wd-md">
        <a routerLink="/department/editdepartment/00000000-0000-0000-0000-000000000000"><button
                class="mb-1 mr-1 btn btn-green btn-lg">{{'department.ADDNEWDEPARTMENT' | translate}}</button></a>
    </div>
</div>



<div class="card card-default">
    <div class="card-header"></div>
    <div class="card-body">

        <div class="ball-clip-rotate-multiple">
            <div></div>
            <div></div>
        </div>
        
        <div class="table-responsive-md">
            <div class="row">
                <div class="col-md-12">
                    <app-data-table #departmentTable [rows]="departmentList" [columns]="departmentColumns">
                    </app-data-table>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #actionsColTmpl let-row="row" let-value="value">
    <button class="btn btn-transparent icon-only" type="button" (click)="editDepartmentClicked(row)"
        tooltip="Edit Department" placement="bottom">
        <i class="fa fa-edit"></i>
    </button>
    <button class="btn btn-transparent icon-only" type="button" (click)="deleteDepartmentClicked(row)"
        tooltip="Delete Department">
        <i class="fa fa-trash"></i>
    </button>
</ng-template>