<div class="content-heading">
    <div>
        {{'user.CREATE' | translate}} {{'user.USER' | translate}}
    </div>
</div>

<div class="card card-default">
    <div class="card-header"></div>
    <div class="card-body">
        <form [formGroup]="valForm" class="form-horizontal" (submit)="submitForm(valForm.value)" novalidate="">
            <fieldset>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">
                        {{'user.EMPLOYEENUMBER' | translate}}</label>
                    <div class="col-md-10">
                        <input formControlName="employeeNumber" class="form-control" placeholder="Employee Number" />                        
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">
                        {{'user.FNAME' | translate}}</label>
                    <div class="col-md-10">
                        <input formControlName="fName" class="form-control" placeholder="First Name" />
                        <span class="text-danger"
                        *ngIf="valForm.controls['fName'].hasError('required') 
                        && (valForm.controls['fName'].dirty 
                            || valForm.controls['fName'].touched
                            || isFormSubmit)">
                        {{'validation.NAMEISREQUIRED' | translate}}</span>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">
                        {{'user.LNAME' | translate}}</label>
                    <div class="col-md-10">
                        <input formControlName="lName" class="form-control" placeholder="Last Name" />
                        <span class="text-danger"
                        *ngIf="valForm.controls['lName'].hasError('required') 
                            && (valForm.controls['lName'].dirty 
                                || valForm.controls['lName'].touched
                                || isFormSubmit)">
                        {{'validation.NAMEISREQUIRED' | translate}}</span>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">
                        {{'user.EMAIL' | translate}}</label>
                    <div class="col-md-10">
                        <input formControlName="email" class="form-control" placeholder="Email Address" />
                        <span class="text-danger"
                        *ngIf="valForm.controls['email'].hasError('required') 
                            && (valForm.controls['email'].dirty 
                                || valForm.controls['email'].touched
                                || isFormSubmit)">
                        {{'validation.EMAIL' | translate}}</span>
                    </div>
                </div>
            </fieldset>
             
            <!-- <fieldset>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">
                        {{'user.ROLE' | translate}}</label>
                    <div class="col-md-2">
                        <mat-form-field>
                            <mat-select placeholder="User Role" formControlName="role" >
                                <mat-option *ngFor="let role of UserRoles" [value]="role">
                                    {{role}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>                        
                        <span class="text-danger"
                        *ngIf="valForm.controls['role'].hasError('required') 
                            && (valForm.controls['role'].dirty 
                                || valForm.controls['role'].touched
                                || isFormSubmit)">
                        {{'validation.ROLE' | translate}}</span>
                    </div>
                </div>
            </fieldset> -->
            <fieldset>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">
                        {{'user.ROLE' | translate}}</label>
                    <div class="col-md-10">
                        <select name="role" placeholder="Select Role" id="role" class="form-control custom-select custom-select-lg mb-3" formControlName="role">
                            <option *ngFor="let role of UserRoles" [value]="role">{{role}}</option>
                         </select>
                         <span class="text-danger"
                        *ngIf="valForm.controls['role'].hasError('required') 
                            && (valForm.controls['role'].dirty 
                                || valForm.controls['role'].touched
                                || isFormSubmit)">
                        {{'validation.ROLE' | translate}}</span>
                    </div>                    
                </div>
            </fieldset>
            <!-- <mat-form-field class="form-group row">
                <div>
                    <mat-label class="col-md-2 col-form-label">
                        {{'user.ROLE' | translate}}</mat-label>
                    <mat-select placeholder="Select User Role" formControlName="role" >
                    <mat-option *ngFor="let role of UserRoles" [value]="role">
                        {{role}}
                    </mat-option>
                    </mat-select>
                </div>
              </mat-form-field> -->
            <!--<fieldset>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">
                        {{'user.LEVEL' | translate}}</label>
                    <div class="col-md-10">
                        <ngx-select [allowClear]="true" [items]="userLevelList" optionValueField="id" formControlName="level"
                            (select)="Selected1($event)" optionTextField="name" placeholder="Level name selected">
                        </ngx-select>
                        <span class="text-danger"
                        *ngIf="valForm.controls['level'].hasError('required') && (valForm.controls['level'].dirty || valForm.controls['level'].touched)">
                        {{'validation.LEVELREQUIRED' | translate}}</span>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">
                        {{'department.DEPARTMENT' | translate}}</label>
                    <div class="col-md-10">
                        <ngx-select [allowClear]="true" [items]="departmentList" optionValueField="id" formControlName="department"
                            (select)="Selected2($event)" optionTextField="name" placeholder="Department name selected">
                        </ngx-select>
                        <span class="text-danger"
                        *ngIf="valForm.controls['department'].hasError('required') && (valForm.controls['department'].dirty || valForm.controls['department'].touched)">
                        {{'validation.DEPARTMENTREQUIRED' | translate}}</span>
                    </div>
                </div>
            </fieldset> -->

            <div class="form-group row">
                <label class="col-xl-2 col-form-label"></label>
                <div class="col-xl-10">
                    <button class="mr-1 mb-1 btn btn-outline-success"
                        [disabled]="!valForm.valid"
                        type="submit">{{'button.SAVEBTN' | translate}}</button>
                    <a routerLink="/user"> <button
                            class="mr-1 mb-1 btn btn-outline-danger">{{'button.CANCELBTN' | translate}}</button></a>
                </div>
            </div>            
        </form>
    </div>
</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>