<div class="box-container" style="height: 100%;">
    <div class="board-bar">
        <p class="board-title">Calendar</p>
      </div>
    <div class="row">        
        <div class="col-xl-12 col-lg-12">
            <div class="">
                <div class="gridster-item-content">                
                    <full-calendar
                        defaultView="dayGridMonth"
                        [plugins]="calendarPlugins"
                        [events]="calendarEvents"
                        themeSystem="bootstrap"
                        [header]="calendarHeader"
                        height="parent"
                        [editable]=[true]
                        [droppable]=[true]
                        deepChangeDetection="true"
                        (dateClick)="dayClick($event)"
                        (eventReceive)="handleEventReceive($event)"
                        >
                    </full-calendar>
                </div>
            </div>
        </div>
    </div>
</div>
