<div class="dashboard-option" *ngIf="isDashboardOPtionsPanel" [@slideInOut]>
    <div class="row">
        <div class="col-lg-12">
            <mat-checkbox class="mr-2" *ngFor="let option of dashboardOPtions" 
                [(ngModel)]="option.IsChecked"
                (change)="dashboardOptionChanged()">
                {{ option.Name }}
            </mat-checkbox>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 mb-3">
        <button mat-raised-button class="float-right" (click)="toggleDashboardOptionPanel()">Dashboard Options</button>        
    </div>
</div>
<!-- <div class="row">
    <div class="col-md-12 text-center">
        <div class="alert alert-success alert-success-light text-center" role="alert">
            <span class="welcome-message">Welcome {{ loggedInUser.profile.given_name }}</span>
            <small>{{ loggedInUser.profile.role }}</small>
          </div>
    </div>
</div> -->

<app-grid [dashboardOptionEvent]="dashboardOptionEventSubject.asObservable()"></app-grid>



