.top_stats_wrapper {
    padding: 5px 15px 15px 15px;
    background: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 15px 1px rgba(90,90,90,.08);
    box-shadow: 0 1px 15px 1px rgba(90,90,90,.08);
    border: 1px solid #dce1ef;
    margin-bottom: 15px;
}
.progress-bar-danger {
    background-color: #fc2d42;
}
.progress-bar-success {
    background-color: #84c529;
}
.progress-bar-default {
    background-color: #727b86;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.tasks-container.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 120px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.dashboard-option {
  background: white;
  padding: 10px;
  margin-top: -10px;
  margin-left: -20px;
  margin-right: -20px;
}
.welcome-message {
  display: block;
  font-size: 20px;
}
.alert-success-light {
  background-color: #d4edda !important;
  border-color: #c3e6cb !important;
  color: #2b957a;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #2b957a!important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #2b957a !important;
}