<div class="box-container">
    <div class="board-bar">
        <p class="board-title">
          <span class="fa fa-arrows"></span>  Summary
        </p>
      </div>
      <div class="row">
        <div class="quick-stats-invoices col-xs-12 col-md-6 col-sm-6 col-lg-3">
            <div class="top_stats_wrapper">
                <p class="text-uppercase mtop5">
                    Awaiting Payment <span class="pull-right">9 / 11</span>
                </p>
                <div class="clearfix"></div>
                <div class="progress no-margin progress-bar-mini">
                    <div class="progress-bar progress-bar-danger no-percent-text not-dynamic" role="progressbar" aria-valuenow="81.82" aria-valuemin="0" aria-valuemax="100" style="width: 81.82%;" data-percent="81.82">
                    </div>
                </div>
            </div>
        </div>
        <div class="quick-stats-leads col-xs-12 col-md-6 col-sm-6 col-lg-3">
            <div class="top_stats_wrapper">
              <p class="text-uppercase mtop5">Converted Leads <span class="pull-right">7 / 50</span>
              </p>
                <div class="clearfix"></div>
                <div class="progress no-margin progress-bar-mini">
                    <div class="progress-bar progress-bar-success no-percent-text not-dynamic" role="progressbar" aria-valuenow="14.00" aria-valuemin="0" aria-valuemax="100" style="width: 14%;" data-percent="14.00">
                    </div>
                </div>
            </div>
        </div>
    <div class="quick-stats-projects col-xs-12 col-md-6 col-sm-6 col-lg-3">
        <div class="top_stats_wrapper">
            <p class="text-uppercase mtop5">Projects In Progress<span class="pull-right"> 4 / 4</span></p>
            <div class="clearfix"></div>
            <div class="progress no-margin progress-bar-mini">
                <div class="progress-bar no-percent-text not-dynamic" style="background: rgb(3, 169, 244); width: 100%;" role="progressbar" aria-valuenow="100.00" aria-valuemin="0" aria-valuemax="100" data-percent="100.00">
                </div>
            </div>
        </div>
    </div>
    <div class="quick-stats-tasks col-xs-12 col-md-6 col-sm-6 col-lg-3">
        <div class="top_stats_wrapper">
              <p class="text-uppercase mtop5">Tasks Not Finished <span class="pull-right">
                46 / 62                  </span>
                </p>
            <div class="clearfix"></div>
            <div class="progress no-margin progress-bar-mini">
                <div class="progress-bar progress-bar-default no-percent-text not-dynamic" role="progressbar" aria-valuenow="74.19" aria-valuemin="0" aria-valuemax="100" style="width: 74.19%;" data-percent="74.19">
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
