<div class="box-container" style="height:100%">
    <div class="board-bar">
        <p class="board-title">Leads Overview</p>
      </div>
    <canvas baseChart
        [data]="doughnutChartData"
        [labels]="doughnutChartLabels"
        [chartType]="doughnutChartType">
      </canvas>
</div>
