<div class="content-heading">
    <div>Edit Department
        <small>Edit a department for a company</small>
    </div>
</div>

<!-- START row-->
<div class="col-md-12">
    <!-- START card-->
    <div class="card card-default">
        <div class="card-header"></div>
        <div class="card-body">
            <form [formGroup]="departmentForm"
            novalidate=""
            (ngSubmit)="departmentFormSubmit(departmentForm)" class="form-horizontal">
                <div class="form-group row">
                    <label class="col-xl-2 col-form-label">Id</label>
                    <div class="col-xl-10">
                        <input  formControlName="id" required type="text" class="form-control is-valid" disabled >
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-2 col-form-label">Name</label>
                    <div class="col-xl-10">
                        <input formControlName="name" [ngClass]="{'is-invalid': displayMessage.name}" class="form-control " required="" placeholder="Department Name" >
                        <div class="invalid-feedback">{{displayMessage.name}}</div>
                    </div>
                </div>
               
                <div class="form-group row">
                    <label class="col-xl-2 col-form-label">Department Head</label>
                    <div class="col-xl-10">
                        <ngx-select formControlName="departmentHead" 
                            optionValueField="id" optionTextField="name"  
                            class="is-valid" 
                            [allowClear]="true" 
                            [items]="employees" 
                            (selected)="selected($event)"  
                            placeholder="Select Department Head">
                        </ngx-select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-xl-2 col-form-label"></label>
                    <div class="col-xl-10">
                        <button  [disabled]="!departmentForm.valid"  class="mr-1 mb-1 btn btn-outline-success"
                            type="submit">{{'button.SAVEBTN' | translate}}</button>
                        <a routerLink="/department"> <button
                                class="mr-1 mb-1 btn btn-outline-danger">{{'button.CANCELBTN' | translate}}</button></a>
                    </div>
                </div>   
            </form>
        </div>
    </div>
    <!-- END card-->
</div>
<!-- END row-->