<div class="box-container">
    <div class="board-bar">
        <p class="board-title">To Do List</p>
      </div>
    <div class="row todo p-4">
        <div class="col-lg-12">
            <div class="pr-3">            
                <form class="mb-4 row" (submit)="addTodo()">
                    <div class="form-group col-lg-4">
                        <div class="gridster-item-content">
                            <input class="form-control" type="text" name="todoTitle" [(ngModel)]="todo.title" placeholder="Task title.." required="required" />
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <div class="gridster-item-content">
                            <textarea class="form-control" name="todoDescription" [(ngModel)]="todo.description" placeholder="Type a description.." rows="1"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <button class="btn btn-primary btn-block" type="submit">
                            <span class="fa fa-plus"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-12 todo-item-list">
            <div class="lead text-muted text-center" *ngIf="!items.length">No tasks...</div>
            <accordion [closeOthers]="true">
                <accordion-group panelClass="todo-item {{item.complete?'todo-complete':''}}" *ngFor="let item of items; let i = index" [isDisabled]="item.complete">
                    <div accordion-heading>
                        <span class="close" (click)="removeTodo(i)">×</span>
                        <div class="inline checkbox c-checkbox">
                            <label (click)="$event.stopPropagation()" class="mb-0">
                                <input type="checkbox" [(ngModel)]="item.complete" id="{{'todo-item-'+i}}" [disabled]="editingTodo" />
                                <span class="fa fa-check"></span>
                            </label>
                        </div>
                        <span class="todo-title" [innerHTML]="item.todo.title">Task title</span>
                        <span class="todo-edit fas fa-pencil-alt" (click)="editTodo(i, $event)"></span>
                    </div>
                    <p>
                        <span [innerHTML]="item.todo.description"></span>
                        <span class="text-muted" *ngIf="item.todo.description === ''">No item description</span>
                    </p>
                </accordion-group>
            </accordion>
            <p class="text-right" *ngIf="items.length &gt; 0">
                <span>{{ totalCompleted() }} Completed</span>-
                <span>{{ totalPending() }} Pending</span>
            </p>
        </div>
    </div>
</div>

