<div class="table-bordered">
    <ngx-datatable class="bootstrap"
      [rows]="rows"
      [limit]="limit"
      [selected]="selected"
      [selectionType]="selectionType"
      (select)='onSelect($event)'
      [columns]="columns"
      [columnMode]="'flex'"
      [headerHeight]="40"
      [footerHeight]="50"
      [limit]="10"
      [rowHeight]="'auto'"
      [reorderable]="reorderable"
      [selectAllRowsOnPage]="selectAllRowsOnPage"
      [sorts]="[{prop: sortColumn, dir: 'desc'}]"
      [selected]="selected"
      (select)="select">
    </ngx-datatable>
  </div>