// @import '~@swimlane/ngx-datatable/release/index.css';
// @import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
// @import '~@swimlane/ngx-datatable/release/assets/icons.css';

@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/bootstrap.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

.ngx-datatable.bootstrap .datatable-body .datatable-body-row.active {
  color: black !important;
}

// Word-wrap header text of ngx-datatable if app-datatable has 'wrap-header-text' class
app-data-table.wrap-header-text .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
   white-space: normal !important;
}