::ng-deep .gridster-preview{
    background: none;
    border: dashed 2px #999;
    min-height: 120px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .height-100vh {
    height: 100vh;
  }