<div class="row">
    <div class="col-md-12">
        <div style="height: 1600px;">
            <gridster [options]="options" style="background-color: #f5f7fa;">
                <gridster-item [item]="item" *ngFor="let item of dashboard">      
                  <app-parent-container [widget]="item"></app-parent-container>
                </gridster-item>
              </gridster>
        </div>        
    </div>
</div>

