<!-- <div class="col-md-12 my-4 box-container" style="background:orange;height:100px" cdkDrag>
    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
</div> -->
<div class="col-md-12 box-container" style="background:orange;height:100%">    
</div>