.col.custom-col {
    -ms-flex:0 0 20%;
    flex:0 0 20%;
    height:inherit;
    border-radius:5px;
  }
  
  
  .card {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }
  
  /* (Optional) Apply a "closed-hand" cursor during drag operation. */
  .card:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
  
  .card {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }
  
  /* (Optional) Apply a "closed-hand" cursor during drag operation. */
  .card:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
  
  app-list{
    margin-right: 10px;
  }
  
  .text-center.add-new-list:hover {
    opacity:0.9;
    color:#40409A;
  }
  
  .text-center.add-new-list {
    font-size:14px;
    color:#767676;
    cursor:pointer;
    opacity:0.4;
  }
  
.inline-edit {
    cursor: text;
    display: block;
    width: 100%;
    height: 2.1875rem;
    padding: 0.375rem 1rem;
    box-shadow: 0 0 0 #000 !important;
    font-size: 0.875rem;
    line-height: 1.528571429;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dde6e9;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .example-custom-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 120px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .box-container {
    padding: 5px 15px 15px 15px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 15px 1px rgba(90, 90, 90, 0.08);
    border: 1px solid #dce1ef;
  }
  .board-bar {
    background: rgba(gray, 0.5);  
    margin-top: -5px;
    margin-left: -15px;
    margin-right: -15px;  
  }
  .board-title {
    background: #2b957a;
    padding: 5px;
    color: white;
  }
  .todo-item-list {
    max-height: 230px;
    overflow: auto;
  }