<div class="content-heading">
    <div>Create Department
        <small>Add a department for a company</small>
    </div>
</div>

<!-- START row-->
<div class="col-md-12">
    <!-- START card-->
    <div class="card card-default">
        <div class="card-header"></div>
        <div class="card-body">
            <form class="form-horizontal">
                <div class="form-group row">
                    <label class="col-xl-2 col-form-label">Name</label>
                    <div class="col-xl-10">
                        <input class="form-control is-invalid" required="" placeholder="Department Name" />
                        <div class="invalid-feedback">Please provide a valid department name.</div>
                    </div>
                </div>
               
                <div class="form-group row">
                    <label class="col-xl-2 col-form-label">Department Head</label>
                    <div class="col-xl-10">
                        <ngx-select class="is-valid" required="" [allowClear]="true" [items]="items" (selected)="selected($event)"  placeholder="Select Department Head">
                        </ngx-select>
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                </div>

                <!-- <div class="form-group row">
                    <label class="col-xl-2 col-form-label"></label>
                    <div class="col-xl-10">
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox" checked="" />
                                <span class="fa fa-check"></span>Remember me</label>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="form-group row">
                    <label class="col-xl-2 col-form-label"></label>
                    <div class="col-xl-10">
                        <button class="btn btn-sm btn-secondary" type="submit">Sign in</button>
                    </div>
                </div> -->

                <div class="form-group row">
                    <label class="col-xl-2 col-form-label"></label>
                    <div class="col-xl-10">
                        <button class="mr-1 mb-1 btn btn-outline-success"
                            type="submit">{{'button.SAVEBTN' | translate}}</button>
                        <a routerLink="/user"> <button
                                class="mr-1 mb-1 btn btn-outline-danger">{{'button.CANCELBTN' | translate}}</button></a>
                    </div>
                </div>   
            </form>
        </div>
    </div>
    <!-- END card-->
</div>
<!-- END row-->