// .example-container {
//   width: 400px;
//   max-width: 100%;
//   margin: 0 25px 25px 0;
//   display: inline-block;
//   vertical-align: top;
// }

// .example-list {
//   border: solid 1px #ccc;
//   min-height: 60px;
//   background: white;
//   border-radius: 4px;
//   overflow: hidden;
//   display: block;
// }


// .example-box {
//   padding: 20px 10px;
//   border-bottom: solid 1px #ccc;
//   color: rgba(0, 0, 0, 0.87);
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: space-between;
//   box-sizing: border-box;
//   cursor: move;
//   background: white;
//   font-size: 14px;
// }

// .cdk-drag-preview {
//   box-sizing: border-box;
//   border-radius: 4px;
//   box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
//               0 8px 10px 1px rgba(0, 0, 0, 0.14),
//               0 3px 14px 2px rgba(0, 0, 0, 0.12);
// }



// .cdk-drag-animating {
//   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
// }

// .example-box:last-child {
//   border: none;
// }

// .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
//   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
// }

//  second example=========================================================
// =========================================================================
/// ======================================================================
// =====================================================================

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-name {
  font-size: 28px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.has-gradient-text {
  background: -webkit-linear-gradient(#13f7f4, #2af598);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.kanban-board-container {
  padding: 5px 15px 15px 15px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 15px 1px rgba(90, 90, 90, 0.08);
    border: 1px solid #dce1ef;
    margin-bottom: 15px;
}

.board {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  // Override Automatic Minimum Size
  // https://stackoverflow.com/questions/36247140/why-dont-flex-items-shrink-past-content-size
  min-width: 0;
  min-height: 0;

  .board-bar {
      background: rgba(gray, 0.5);
      padding: 8px 15px;
      margin-top: -5px;
      margin-left: -15px;
      margin-right: -15px;
  
      .board-name {
          font-size: 20px;
          font-weight: bold;
          color: white;
      }
  }

  .board-wrapper {
      display: flex;
      flex-grow: 1;
      overflow-x: auto;

      .board-columns {
          display: flex;
          flex-grow: 1;

          .board-column {
              display: flex;
              flex-direction: column;
              flex-grow: 1;
              flex-basis: 0; // to force the columns to all be the same size, regardless of content

              min-width: 300px;
              margin: 50px;
             

              border-radius: 4px;

              background: rgba(white, 0.5);

              &:not(:first-child) {
                  margin-left: 0;
              }

              .column-title {
                  font-size: 16px;
                  font-weight: 600;
                  font-family: 'Lato', sans-serif;
                  color: white;
                  margin-bottom: 20px;
                  padding: 11px;
                  background: rgba(gray, 0.5);
              }
          }
      }
  }
}

.title {
  height: 30px;
  background: grey;
  padding: 5px;
  color: white;
}

.tasks-container {
  flex-grow: 1;
  overflow-y: auto; 
  background: #e3e8ee;
  padding: 10px;
  max-height: 430px;
}

.task {
  display: flex;
  padding: 15px 12px;
  background: white;
  border-bottom: solid 1px #ddd;
  border-radius: 4px;

  margin-bottom: 15px;

  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05),
  0 3px 14px 2px rgba(0, 0, 0, 0.05);


  .task-body {
    .task-details{
      display:flex;
      .created-date{
        margin-left: 105px;

      }
    }
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.tasks-container.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 120px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}