<app-summary-cards *ngIf="widget.type === 'summary-cards'"></app-summary-cards>
<app-leads-overview *ngIf="widget.type === 'leads-overview'"></app-leads-overview>
<app-calendar *ngIf="widget.type === 'calender'"></app-calendar>
<app-todolist *ngIf="widget.type === 'todolist'"></app-todolist>
<app-kanban-board *ngIf="widget.type === 'kanban'"></app-kanban-board>