<!-- <div class="col-md-12 my-4 box-container" style="background:red;height:100px" cdkDrag>
    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
    <div class="text-center">
        <button type="button" (click)="buttonClicked()" class="btn btn-dark">Click Me</button>
    </div>
</div> -->

<div class="col-md-12 box-container" style="background:red;height:100%">    
    <div class="text-center">
        <button type="button" (click)="buttonClicked()" class="btn btn-dark">Click Me</button>
    </div>
</div>